.nav-icon{
    padding-left: 30px;
    padding-right: 0;
    color: gray;
}

.main-head{
    color: blueviolet;
}

p{
    color: brown;
}

.load-img{
    width: 100%;
   
}

button{
    background-color: darkorchid;
    float: right;
    
}